div#sbadaf-settings-cont {
    width: 50%;
    min-width: 360px;
}

div#sbadaf-settings-cont label {
    display: block;
    font-weight: 500;
    line-height: 2;
    padding-left: 3px;
    padding-bottom: 3px;
}

div#sbadaf-settings-cont input {
    width: 50%;
}

div#sbadaf-settings-cont select {
    width: 100%;
}

a#sbadaf-delete-all-logs {
    display: block;
    width: 50%;
    background: #ca4a1f;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 2;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 3px;
}

a#sbadaf-save-settings {
    display: block;
    width: 50%;
    background: #0073aa;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 2;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 15px;
    border-radius: 3px;
}

.sbadaf-settings-section {
    margin-bottom: 20px;
}

span.sbadaf-help {
    display: block;
    font-weight: 500;
    padding-left: 3px;
    font-size: 12px;
    font-style: italic;
}

div#sbadaf-delete-logs-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #000000a6;
    top: 0;
    left: 0;
}

div#sbadaf-delet-logs-modal {
    position: absolute;
    width: 25%;
    padding: 15px;
    border-radius: 5px;
    top: 30px;
    left: 36%;
    background: white;
}

div#sbadaf-delet-logs-modal>a:first-child {
    position: absolute;
    right: 15px;
    top: 15px;
    text-decoration: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: grey;
    color: white;
    text-align: center;
}

div#sbadaf-delet-logs-modal>p {
    font-size: 16px;
    padding-top: 15px;
    font-weight: 500;
    text-align: center;
}

a#sbadaf_del_logs_confirm {
    display: block;
    background: #ca4a1f;
    text-decoration: none;
    color: white;
    border-radius: 3px;
    line-height: 2;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

a#sbadaf_del_logs_cancel {
    display: block;
    background: #0073aa;
    text-decoration: none;
    color: white;
    border-radius: 3px;
    line-height: 2;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
}